.topNav {
    width: 100%;
    background: #000000;
}

.topCon {
    width: 1200px;
    margin: 0 auto;
    height: 45px;
    background: #000000;
}

.topCon a {
    display: inline-block;
    font-size: 14px;
    font-family: 微软雅黑;
    line-height: 45px;
    color: #B1B1B1;
    box-sizing: content-box;
    padding: 0 24px;
}

.topCon > div {
    box-sizing: content-box;
    padding: 0 24px;
    height: 45px;
    float: right;
    border-left: 2px solid #707070;
}

.topCon > a {
    float: right;
    border-left: 2px solid #707070;
}

.topCon > a:first-child {
    padding: 0 14px;
}

.topCon > a:hover {
    background: #5EA00A;
    color: #fff;
}

.topCon > div:hover .sprite1 {
    background: url("/Public/images/images2017/map-pin-bai.png") no-repeat 100% 100%;
    background-position: 0 3px;
}

.topCon > div:hover .sprite4 {
    background: url("/Public/images/images2017/gouWuChe-Bai.png") no-repeat 100% 100%;
    background-position: 0 -1px;
}

.topCon > div:hover .sprite3 {
    background: url("/Public/images/images2017/sound-bai.png") no-repeat 100% 100%;
    background-position: -7px -6px;
}

.topCon > div:hover .sprite2 {
    background: url("/Public/images/images2017/arrowDown-bai.png") no-repeat 100% 100%;
    background-position: 1px 11px;
}

.topTitle {
    position: relative;
}

ul.pingDaoMun {
    width: 116px;
    margin-left: -58px;
}

ul.pingDaoMun li {
    width: 116px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
}

ul.pingDaoMun li a {
    color: #000;
    display: inline-block;
    border-bottom: 1px dashed #ccc;
    width: 88px;
    padding: 0;
    line-height: 29px;
}

.gouWuTips {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 49px;
    border-radius: 6px;
    background: #f00;
    color: #fff;
    padding: 2px 4px;
    transform: scale(0.8);
}

ul.gouWu {
    width: 194px;
    margin-left: -97px;
    font-size: 12px;
}

ul.gouWu li {
    height: 39px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    position:relative;
}

ul.gouWu li > a.gouWuCheAllInfo {
    width: 173px;
    height: 100%;
    border-bottom: 1px dashed #ccc;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}

ul.gouWu li a > span {
    float: right;
    display: block;
    width: 147px;
    padding: 0;
    line-height: 14px;
    font-size: 12px;
    margin-top: 7px;
}

ul.gouWu li span.gouWuTitle {
    display: inline-block;
    height: 12px;
    width: 8em;
    color: #000;
    padding: 0;
    line-height: 12px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.gouWu li>a.del{
    display: block;
    width: 4em;
    vertical-align: middle;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    float: right;
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 15px;
}

ul.gouWu li:hover a {
    background: #ccc;
}

ul.gouWu li>a.del:hover {
    color: red;
}

ul.gouWu li img {
    vertical-align: middle;
    width: 23px;
    float: left;
    margin-top: 10px;
}

.sub {
    left: 50%;
    top: 45px;
    position: absolute;
    z-index: 10;
    -webkit-box-shadow: 0 0 7px #ccc;
    -moz-box-shadow: 0 0 7px #ccc;
    box-shadow: 0 0 7px #ccc;
    display: none
}

.sub li:hover {
    background: #ccc;
}

.topCon > div > a {
    padding: 0;

}

div.topNav div.topCon > div:hover {
    background: #5EA00A;
}

div.topNav div.topCon > div:hover > a {
    color: #fff;
}

.topCon a.sprite1 {
    width: 12px;
    height: 21px;
    background: url("/Public/images/images2017/sprite.png"), #000;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: 11px;
    float: left;
}

.topCon a.sprite2 {
    width: 12px;
    height: 21px;
    background-image: url("/Public/images/images2017/sprite.png");
    background-repeat: no-repeat;
    background-position: -32px -21px;
    margin-top: 11px;
    float: right;
}

.topCon a.sprite3 {
    width: 32px;
    height: 23px;
    background-image: url("/Public/images/images2017/sprite.png");
    background-repeat: no-repeat;
    background-position: 0 -48px;
    margin-top: 11px;
}

.topCon a.sprite4 {
    width: 45px;
    height: 27px;
    background-image: url("/Public/images/images2017/sprite.png");
    background-repeat: no-repeat;
    background-position: 0 -21px;
    margin-top: 11px;
}
